.App {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.appointment {
  border: 1px solid black;
  padding: 30px;
  margin: 15px;
}

.tag, button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid black;
  font-weight: bold;
}

.complete-tag {
  background-color: lightslategray;
}

.booked-tag {
  background-color: lightgreen;
}

.open-tag {
  background-color: yellow;
}

button:hover {
  cursor: pointer;
}